
____________________________________________________________________________
| ------------------------------------------------------------------------ |
| |                              secureImg                                | |
| ------------------------------------------------------------------------ |
| |  autherName                 :      "Rk Power"                         | |
| ------------------------------------------------------------------------ |
| | startDate                   :      "20/11/2022"                       | |
| ------------------------------------------------------------------------ |
| | projectName                 :      "secureImg"                        | |
| ------------------------------------------------------------------------ |
| | connectionType              :      "firebase"                         | |
| ------------------------------------------------------------------------ |
| | database                    :      "fireStore"                        | |
| ------------------------------------------------------------------------ |
|_________________________________________________________________________|_|
