
____________________________________________________________________________
| ------------------------------------------------------------------------ |
| |                           **my_notes**                                | |
| ------------------------------------------------------------------------ |
| | autherName                  :      "Rk Power"                         | |
| ------------------------------------------------------------------------ |
| | startDate                   :      "20/11/2022"                       | |
| ------------------------------------------------------------------------ |
| | projectName                 :      "my Notes"                         | |
| ------------------------------------------------------------------------ |
| | connectionType              :      "firebase"                         | |
| ------------------------------------------------------------------------ |
| | database                    :      "fireStore"                        | |
| ------------------------------------------------------------------------ |
|_________________________________________________________________________|_|
